*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Lato', sans-serif;
}

.header{
    padding: 15px 0;
}

.navigation{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-link{
    text-decoration: none;
    color: #939699;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.button{
    padding: 10px 20px;
    background: #4592FF;
    border-radius: 20px;
    border: none;
    color:#fff;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-icon, .button-price{
    margin-right: 10px;
}

.button-icon:last-child{
    margin-right: 0;
    margin-left: 10px;
}

.slide-1{
    background: #B4D1E0 url(../img/slide-image-1.png) no-repeat top right 20%;
}
.slide-2 {
    background: #b4e0c6 url(../img/slide-image-1.png) no-repeat top right 20%;
}


.slide{
    padding-top: 90px;
    padding-bottom: 110px;
    min-height: 568px;
}

.label{
    background: #3DC47E;
    border-radius: 3px;
    padding: 5px 12px;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
}

.slide-title{
    color: #262D33;
    font-size: 55px;
    line-height: 70px;
    font-family: 'Roboto Slab', serif;
    margin-top: 20px;
    margin-bottom: 15px;
}

.slide-description{
    font-size: 18px;
    line-height: 30px;
    color: #4B5157;
    margin-bottom: 40px;
    max-width: 335px;
}

.slider{
    position: relative;
}

.slider-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 9;
}

.slider-button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.card{
    min-height: 370px;
    border-radius: 10px;
    padding-top: 60px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 80px;
}

.card-1{
    background: #e3e2e3 url(../img/card-image-1.jpg) no-repeat top right;
    background-size: cover;
}

.card-2 {
    background: #e3e2e3 url(../img/card-image-2.jpg) no-repeat top right;
    background-size: cover;
}

.card-3 {
    padding-top: 35px;
    background: #CCD5E6 url(../img/card-image-3.png) no-repeat top right 10%;
    background-size: contain;
}

.card-4 {
    padding-top: 35px;
    padding-left: 25px;
    background: #FF4F52 url(../img/card-image-4.png) no-repeat top right;
    background-size: contain;
}

.card-title{
    color: #262D33;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Roboto Slab', serif;
    max-width: 222px;
    margin: 0;
}

.card-title.large{
    max-width: 420px;
    font-size: 40px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-text{
    max-width: 176px;
    color: #4B5157;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
}

.card-text.large{
    max-width: 320px;
}
.card-price{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
}
.text-light{
    color: #fff;
}

.section-title{
    font-size: 25px;
    line-height: 30px;
    font-family: 'Roboto Slab', serif;
    color: #262D33;
}

.more{
    text-decoration: none;
    color: #262D33;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
}

.goods-card{
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
}

.goods-card .label{
    position: absolute;
    left: 18px;
    top: 18px;
}

.goods-title{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Roboto Slab', serif;
}

.goods-description{
    color: #4B5157;
    font-size: 14px;
    line-height: 20px;
}

.goods-price{
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
    color: #262D33;
    font-weight: 900;
}

.footer{
    background: #8F79D4;
    padding-top: 45px;
    padding-bottom: 40px;
    color: #fff;
}

.footer-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-menu-item:not(last-child){
    margin-right: 40px;
}

.footer-menu-link{
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}

.footer-text{
    font-size: 14px;
    line-height: 20px;
    color: #E7D9FF;
}

.social-link{
    text-decoration: none;
    margin-left: 15px;
}

.footer-line{
    opacity: 0.5;
}

.top-link{
    text-decoration: none;
    color: #fff;
}

.top-link-text{
    margin-right: 15px;
}

.payment-logo{
    vertical-align: middle;
    margin-right: 25px;
}

@media (max-width: 1200px){
    .slide-1{
        background-size:cover;
    }
    .card{
        margin-bottom: 20px;
    }
    .card-3{
        background-size: cover;
    }
}

@media (max-width: 998px){
    .slider-nav{
        display:none;
    }
}

@media (max-width: 576px){
    .slide-title{
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 0;
    }


    .card{
        background-position: left top;
        padding: 30px;
    }
    
    .card-4{
        background-position: right top;
    }
}